/* Empty. Add your own CSS if you like */

.grid_item {
  height: 310px;
  font-size: 64px;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

.grid_item_caption {
  height: 300px;
  font-size: 64px;
  color: green;
  background-color: white;
  vertical-align: middle;
  font-weight: bold;
  text-align: right;
}

.grid_item_col_caption {
  height: 100px;
  font-size: 64px;
  color: green;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  text-decoration: underline;
}

.grid_ok {
  background-color: green;
}

.grid_fail {
  background-color: red;
}

.grid_unk {
  background-color: lightgrey;
}
